<a href="https://colab.research.google.com/github/rammya29/Goeduhub-STP/blob/main/Assignment_Task_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assignment / Task 5**

##Pandas - Data Analysis of IMDB movies data

As we have a basic understanding of the different data structures in Pandas, let’s explore the fun and interesting ‘IMDB-movies-dataset’ and get our hands dirty by performing practical data analysis on real data.

We will read the data from the .csv file and perform the following basic operations on movies data

1. Load the IMDb Dataset and read

In [3]:
#from google.colab import files
#files.upload()

import pandas as pd
import numpy as np
m_data = pd.read_csv("IMDB-Movie-Data.csv")



---

2. View the dataset

In [4]:
m_data.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]



---

3. Understand some basic information about the dataset and Inspect the dataframe Inspect the dataframe's columns, shapes, variable types etc.

In [5]:
m_data.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [6]:
m_data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [7]:
m_data.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
        'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
        'Metascore'],
       dtype='object')]

In [8]:
m_data.ndim

2

In [9]:
m_data.size

12000

In [10]:
m_data.shape

(1000, 12)

In [11]:
m_data.describe()

              Rank         Year  ...  Revenue (Millions)   Metascore
count  1000.000000  1000.000000  ...          872.000000  936.000000
mean    500.500000  2012.783000  ...           82.956376   58.985043
std     288.819436     3.205962  ...          103.253540   17.194757
min       1.000000  2006.000000  ...            0.000000   11.000000
25%     250.750000  2010.000000  ...           13.270000   47.000000
50%     500.500000  2014.000000  ...           47.985000   59.500000
75%     750.250000  2016.000000  ...          113.715000   72.000000
max    1000.000000  2016.000000  ...          936.630000  100.000000

[8 rows x 7 columns]

In [12]:
m_data.head(50).mean()

Rank                      25.500000
Year                    2015.540000
Runtime (Minutes)        117.100000
Rating                     6.872000
Votes                 170516.520000
Revenue (Millions)       139.630465
Metascore                 62.545455
dtype: float64



---

4. Data Selection – Indexing and Slicing data

In [13]:
m_year = m_data['Year']
print(m_year)

0      2014
1      2012
2      2016
3      2016
4      2016
       ...
995    2015
996    2007
997    2008
998    2014
999    2016
Name: Year, Length: 1000, dtype: int64

In [14]:
m_data['Genre']

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object



---

5. Data Selection – Based on Conditional filtering

In [15]:
movieVotes = m_data[m_data['Votes'] == m_data['Votes'].max()]
print(movieVotes)

    Rank            Title  ... Revenue (Millions) Metascore
54    55  The Dark Knight  ...             533.32      82.0

[1 rows x 12 columns]

In [16]:
top = m_data[["Title","Director","Rating"]][m_data["Rating"] == m_data['Rating'].min()]
top.head()

              Title         Director  Rating
829  Disaster Movie  Jason Friedberg     1.9



---

6. Groupby operations

In [17]:
Vote = m_data.groupby("Title")['Votes'].mean().reset_index()
Vote.sort_values("Votes", ascending = True)

                        Title      Votes
532            Paint It Black       61.0
755             The Exception       96.0
971             Whisky Galore      102.0
913                 Tracktown      115.0
786  The Headhunter's Calling      164.0
..                        ...        ...
710              The Avengers  1045588.0
357              Interstellar  1047747.0
742     The Dark Knight Rises  1222645.0
345                 Inception  1583625.0
741           The Dark Knight  1791916.0

[999 rows x 2 columns]



---

7. Sorting operation

In [18]:
m_data.sort_values(by=["Title", "Director", "Genre"],
     ascending=[True, True, False]
     )[["Title", "Director", "Genre"]]

                    Title          Director                       Genre
507  (500) Days of Summer         Marc Webb        Comedy,Drama,Romance
118   10 Cloverfield Lane  Dan Trachtenberg        Drama,Horror,Mystery
696              10 Years      Jamie Linden        Comedy,Drama,Romance
111      12 Years a Slave     Steve McQueen     Biography,Drama,History
817             127 Hours       Danny Boyle   Adventure,Biography,Drama
..                    ...               ...                         ...
544                Zipper     Mora Stephens              Drama,Thriller
277                Zodiac     David Fincher         Crime,Drama,History
363            Zombieland   Ruben Fleischer     Adventure,Comedy,Horror
431           Zoolander 2       Ben Stiller                      Comedy
74               Zootopia      Byron Howard  Animation,Adventure,Comedy

[1000 rows x 3 columns]



---

8. Dealing with missing values

In [19]:
m_data.isna().any()

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [20]:
print(m_data.isna().sum())

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64



---

9. Dropping columns and null values

In [21]:
imdb_data_cleaned = m_data.dropna()
imdb_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Title               838 non-null    object
 2   Genre               838 non-null    object
 3   Description         838 non-null    object
 4   Director            838 non-null    object
 5   Actors              838 non-null    object
 6   Year                838 non-null    int64
 7   Runtime (Minutes)   838 non-null    int64
 8   Rating              838 non-null    float64
 9   Votes               838 non-null    int64
 10  Revenue (Millions)  838 non-null    float64
 11  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.1+ KB



---

10. Apply( ) functions

In [22]:
imdb_data_cleaned.apply(np.sum)

Rank                                                             406637
Title                 Guardians of the GalaxyPrometheusSplitSingSuic...
Genre                 Action,Adventure,Sci-FiAdventure,Mystery,Sci-F...
Description           A group of intergalactic criminals are forced ...
Director              James GunnRidley ScottM. Night ShyamalanChrist...
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                            1686481
Runtime (Minutes)                                                 96067
Rating                                                           5710.4
Votes                                                         161926951
Revenue (Millions)                                              70865.1
Metascore                                                         49924
dtype: object



---

#**End Of Assignment**

**Author** : Rammya Dharshini K

**Date** : 28 - 05 - 2021

**Reg ID** : GO_STP_1613